@import "./valuable";

.indexpage__title {
  margin-top: 1em;
  color: $color-dark1;
  font-size: 3em;
}

.blogcardwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 3em 0;
}

.blogcard {
  display: flex;
  flex-direction: column;
  box-shadow: $boxshadow-blogcard;
  border-radius: 5px;
  padding: 2em 3em;
  width: inherit;
  gap: 3em 0;
  @media (max-width: $breakpoint-mobile) {
    padding: 1em 1.5em;
  }
}

.blogcard--header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // blogcard title
  h3 {
    color: $color-dark1;
    font-size: 2em;
  }

  // blogcard date
  span {
    color: $color-dark3;
    font-size: 1.125em;
  }
}

.blogcard--footer {
  display: flex;
  justify-content: space-between;

  // blog description
  span {
    color: $color-dark2;
    font-size: 1.125em;
  }
}
