@import "./valuable";

.layoutwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: $breakpoint-mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
}

.layout {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2em 0;

  @media (max-width: $breakpoint-tablet) {
    grid-column: 2 / 5;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}
