<h1 class="indexpage__title">Blog Articles</h1>
<a href="/articles/new">
    <button class="button__lime">New Article</button>
</a>
<div class="blogcardwrapper">
<% articles.forEach(article => { %> 
    <div class="blogcard">
            <div class="blogcard--header">
                <h3><%= article.title %></h3>
                <span><%=article.date.toLocaleDateString() %></span>
            </div>
            <div class="blogcard--footer">
                <span class="blogcard--description"><%= article.description %></span>
                
                <section class="buttonwrapper">
                    <a href="/articles/<%= article.slug %>">
                        <button class="button__yellow">View</button>
                    </a>
                </section> 
            </div>
        </div>
    <% }) %> 
</div>