<div class="mainpagewrapper">
    <h1>Blog Articles</h1>
    <a href="/articles/new">New Article</a>
    <% articles.forEach(article => { %> 
        <div class="blogcardwrapper">
            <div class="blogcard">
                <a href="articles/<%= article.slug %>">
                    <h4 class="blogcard--title"> <%= article.title %> </h4>
                </a>
                <div class="blogcard--date"> <%= article.date.toLocaleDateString() %> </div>
                <div class="blogcard--description"><%= article.description %></div>
            </div>
        </div>
    <% }) %> 
</div>